# 42 Executables
push_swap/push_swap
pipex/pipex
so_long/so_long
philosophers/philo/philo
minishell/minishell
exam04/microshell
cpp00/ex00/megaphone
cpp00/ex01/phonebook
cpp01/ex00/zombie
cpp01/ex01/horde
cpp01/ex02/brain
cpp01/ex03/attack
cpp01/ex04/sed2
cpp01/ex05/harl
cpp02/ex00/bits
cpp02/ex01/ints
cpp02/ex02/decimals
cpp03/ex00/clap
cpp03/ex01/scav
cpp03/ex02/frag
cpp04/ex00/barkingMad
cpp04/ex01/brainz
cpp04/ex02/aanimals
cpp04/ex03/materia
cub3d/cub3d
cpp05/ex00/bureaucrat
cpp05/ex01/form
cpp05/ex02/form2
cpp05/ex02/*_shrubbery

# 42 Misc
out
mlx
.here_doc

# Ignore code testers
**/tester
**/checker
**/*test*

# MacOS
.DS_Store

# VSCode
.vscode

# Log files
*.log*
*.logs

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
vgcore.*

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
